*{
    padding: 0;
    margin: 0;
}

#banner{
    display: block;
    visibility: hidden;
    width: 100%;
    height: 250px;
    background-color: slategray;

}
#mensajito{
    /*visibility: hidden;sirve para ocultar el codigo en consola de html*/
    display: none;  
}